Body{background-color:black;}
Body{padding:10px;}
 h1{color:yellow;}
 ul{color:white;}
 p{color:yellow;}
 h1{ 
     font-family: 'Mali', cursive;}
 ul{ 
     font-family: 'Source Sans Pro', sans-serif;}
 p{ 
     font-family: 'Krub', sans-serif;}
 
     